# Dataset Bucket
DATASET_S3_AWS_ACCESS_KEY_ID="DATASET S3 AWS ACCESS KEY ID"
DATASET_S3_AWS_SECRET_ACCESS_KEY="DATASET S3 AWS SECRET ACCESS KEY"
DATASET_S3_ENDPOINT_URL="URL TO S3 ENDPOINT"
REQUESTS_CA_BUNDLE="PATH TO CERTIFICATE"

# MLFlow
MLFLOW_ENDPOINT_URL="URL TO MLFlow ENDPOINT"
MLFLOW_WORKSPACE="WORKSPACE NAME"
MLFLOW_TRACKING_SERVER_CERT_PATH="PATH TO CERTIFICATE"
MLFLOW_TRACKING_USERNAME="USERNAME"
MLFLOW_TRACKING_PASSWORD="PASSWORD"

MLFLOW_S3_ENDPOINT_URL="URL TO S3 ENDPOINT"
MLFLOW_S3_AWS_ACCESS_KEY_ID="MLFLOW S3 AWS ACCESS KEY ID"
MLFLOW_S3_AWS_SECRET_ACCESS_KEY="MLFLOW S3 AWS SECRET ACCESS KEY"